.hero
{
 height: 64;
 width: 64px;
 transition:all 0.2s;
 position:relative;
 margin: auto;
 display:block;
 float:left;
 border-radius: 2%;
 border:3px solid transparent;
}

.ControlPanel {
    background-color: rgb(95, 172, 208);
    margin: auto;
    height: 600px;
    width: 80%;
}

.hero:hover
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid white;
}

.hero:active	
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid rgb(11, 32, 37);
}


.strength 
{
    /* background-color:rgba(255,0,0,0.3);*/ 
 text-align: left;
 margin: auto;
 display:inline-block;
 color:white;
}

.agility 
{
 /*background-color:rgba(0,255,0,0.3);*/
 text-align: left;
 margin: auto;
 display:inline-block;
 color:white;
}

.intelligence 
{
 /* background-color:rgba(0,0,255,0.3);*/
 text-align: left;
 margin: auto;
 display:inline-block;
 color:white;
}