.hero
{
 height: 51;
 width: 51px;
 transition:all 0.2s;
 position:relative;
 margin: auto;
 display:block;
 float:left;
 border-radius: 2%;
 border:3px solid transparent;
}

.ControlPanel {
  /*background-color: rgb(95, 172, 208);*/
    margin: auto;
    height: 400px;
    width: 95%;
}

.hero:hover
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid white;
}

.hero:active	
{
 position: relative;
 transform:scale(1.5);
 transition:all 0.2s;
 top:-2px;
 left:-2px;
 z-index: 3;
 border: 3px solid rgb(11, 32, 37);
}


.strength 
{
 /*background-color: #B82601;*/
 text-align: left;
 margin: auto;
 display:inline-block;
 color:white;
}

.agility 
{
 /* background-color:#007849;*/
 text-align: left;
 margin: auto;
 display:inline-block;
 color:white;
}

.intelligence 
{
 /*background-color:#062f4f;*/
 text-align: left;
 margin: auto;
 display:inline-block;
 color:white;
}