.Content 
{
 /*margin-top:50px;*/
        background-color: #192231;
        overflow: auto;
        margin: auto;
        border-radius: 2%;
        border: 10px #1e1f21 solid;
          height: 60%;
          width: 80%;
      
}