.Items 
 {
  position:sticky;
  margin: auto;
  z-index:10;
  height:auto;
  border: 5px solid rgba(0,0,0, 0.5);
  background:#35363A;
  box-shadow:0 0 15px rgba(0,0,0, 0.5);
 }

 .Items img 
 {
  position:sticky;
  margin: auto;
  z-index:10;
  height:auto;
  background:#35363A;
  box-shadow:0 0 15px rgba(0,0,0, 0.5);
 }

 .itemDiv
 {
    text-align:center;
    width:100%;
    display:block;
    margin: auto;
 }